# Backend API Configuration
VITE_API_URL=http://localhost:3000

# Customer Credentials
CUSTOMER_KEY=LUC6JkfBJ3MhcT8EILtu1nK4gjZyZtPWnEk22LS9gm9C8wVO
CUSTOMER_SECRET=CqXdKeiPwRAmc4VyNZi0AqIGtbO7r0qVgHVhwIxIq8RVJZOYxBbwb4JGcPHc8IbY

# Server Port
PORT=3000
